<% @users.each do | user | %>
    <div id="main">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><%= user.name %> </h4>
        <p class="card-text"><%= user.bio %> </p>
        <a href="#"><div class="btn btn-primary">Message!</div></a>
        <%= link_to dislike_user_path(user), method: :put, class: "btn btn-primary" do %>
        Remove
        <% end %>
      </div>
    </div>
    
<% end %>