<% @posts.each do | posted | %>
 <div id="main">
     <div class="card">
      <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><%= posted.title %></h4>
        <p class="card-text"><%= posted.body %></p>
      </div>
    </div>
</div>
<% end %>
